.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.header h2 {
  margin: 1rem;
}

.cartTotalContainer {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartTotalAmount {
  font-weight: bold;
}

.emptyCartMessageWrapper {
  margin: 2rem auto;
}

.footer {
  margin-top: auto;
  background-color: chocolate;
  color: wheat;
  padding: 2rem;
  text-align: center;
}
